<h1>Wikinimous</h1>

<%= link_to 'New Article', new_article_path %>

<% @articles.each do |article| %>
<h3><%= link_to article.title, article_path(article)%></h3><br/>
<p><%= article.content %></p>
<%= link_to 'Edit', edit_article_path(article) %>
<% end %>
